@import 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto Mono', monospace;
}

.contentContainer {
  flex-grow: 1;
}

.fullWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  background-color: $color-base;
  height: 100%;
}

.rowy {
  display: flex;
  flex-direction: row;
}

.columny {
  flex-direction: column;
}

.separateRowy {
  justify-content: space-between;
}

.lightLabel {
  font-size: 0.6em;
  color: darkgrey;
}
